@media (max-width: 998px) {
    .promo__header {
        font-size: 35px;

    }
    .promo__subheader {
    font-size: 18px
    }
    .button_main {
        width: 253px;
        height: 43px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}

