@mixin light {
    font-family: 'MuseoSansCyrl-300', sans-serif;
}
@mixin medium {
    font-family: 'MuseoSansCyrl-500', sans-serif;
}
@mixin bold {
    font-family: 'Museo Sans Cyrl-700', sans-serif;
}