@import 'base/mixins';
@import 'base/fonts';
@import 'base/variables';
@import 'blocks/promo'; 
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advant';
@import 'blocks/consultation';
@import 'blocks/forms';


* {
    font-family: 'MuseoSansCyrl-300', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}




