.advant {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 95px 0;
    &_title {
        text-align: center;
        color: #0d0d0d;
        @include bold;
        font-size: 30px;
    }
    &__list {
        margin-top: 65px;
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: calc(100% / 3);
        text-align: center;
        
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        &_title {
            color: #0d0d0d;
            @include bold;
            font-size: 18px;
            margin-bottom: 26px;
        }
        &_descr {
            color: #0d0d0d;
        @include light;
        font-size: 14px;
        max-width: 75%;
        margin: 0 auto;
        text-align: center;
        a {
            color: #ff0000;
            @include bold;
        }
        }
    }
}