.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    @include medium;
    background-color: $main-color;
    text-transform: uppercase;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}